.orange{
    background-color: orange;
}
.orange{
    background-color: rgb(15, 42, 193);
}
.orange{
    background-color: rgb(34, 255, 0);
}
.orange{
    background-color: rgb(220, 30, 30);
}
.orange{
    background-color: rgb(222, 32, 203);
}